<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Goals</title>
</head>
<style>
	.about_txt {
    padding: 60px 0; 
}

	.about_txt p {
    margin-bottom: 35px; 
    line-height: 1.3;   
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 14px;
}

.about_txt h3 {
    margin-top: 30px;   
    margin-bottom: 15px; 
    color: #d10000;      
}
.about_txt span {
    font-weight: 600;
    color: black;
    display: inline-block;
    margin-bottom: 5px;
}

/* 	================================
       Custom-Cards Styles 
	================================*/ 

     .custom-card{
      background-color: #ffff;
      border-radius: 10px;
	   width: 100%; 
      padding: 10px;
      text-align: center;
	  min-width: 80px;
      box-shadow: 0 10px 20px rgba(183, 2, 2, 0.15);
    }   
    .custom-card:hover {
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
      transition: all 0.3s ease;
    }
    .custom-card i{
        color: #d10000;
        font-size: 80px;
     
    }
     .custom-card a{
        color: #222;
        text-decoration: none;
    }
    .custom-card p{
        font-size: 16px;
        color: #555;
        font-weight: 700;
    }
	.icon_class {
    width: 40px;
    height: 40px;
    background-color: crimson;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer; 
}

.icon_class i {
    color: #fff;
    font-size: 40px;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.icon_class:hover i {
    color: #FEDE00;
    opacity: 1;
}


/* 	==========================
       custom row
 	========================== */ 
.custom-row1 {
  opacity: 0;
 transform: translateY(-10px);
  transition: all 1s ease-out; 
}


.custom-row1.show {
  opacity: 1;
  transform: translateY(0);
}



</style>
<body>

	   <div class="container">
        <div class="row flex-row">
            <div class="col-xl-12 align-self-center text-center font-weight-bold">
                <h1 style="color: #FEDE00;">Goals Of  <span style="color: crimson;">Milkar Seva Sansthan</span></h1>
            </div>
        </div>
    </div>
    
    <section class="custom-section py-3">
        <div class="container">
            <div class="row text-center custom-row1">

                <!-- Column 1 -->
              <div class="col-6 col-md-2 mb-4 custom-column">
					<div class="custom-card p-4 h-100">
						<div class="icon_class"><i class="fas fa-male"></i></div>
						<p class="mb-0">Youth Empowerment</p>
						<a href="https://shriramnavyugtrust.org/software/" class="icon-link"></a>
					</div>
				</div>

				<div class="col-6 col-md-2 mb-4 custom-column">
					<div class="custom-card p-4 h-100">
						<div class="icon_class"><i aria-hidden="true" class="fas fa-female"></i></div>
						    <p class="mb-0">Women Empowerment</p>
						<a href="https://shriramnavyugtrust.org/software/" class="icon-link"></a>
					</div>
				</div>
				<div class="col-6 col-md-2 mb-4 custom-column">
					<div class="custom-card p-4 h-100">
						<div class="icon_class"><i aria-hidden="true" class="fas fa-people-carry"></i></div>
						<p class="mb-0">Rural Empowerment</p>
						<a href="https://shriramnavyugtrust.org/software/" class="icon-link"></a>
					</div>
				</div>

				<div class="col-6 col-md-2 mb-4 custom-column">
					<div class="custom-card p-4 h-100">
						<div class="icon_class"><i aria-hidden="true" class="fas fa-globe-africa"></i></div>
						<p class="mb-0">Environmental Help</p>
						<a href="https://shriramnavyugtrust.org/software/" class="icon-link"></a>
					</div>
				</div>


				<div class="col-6 col-md-2 mb-4 custom-column">
					<div class="custom-card p-4 h-100">
						<div class="icon_class"><i aria-hidden="true" class="fas fa-book-reader"></i></div>
						<p class="mb-0">Education Empowerment</p>
						<a href="https://shriramnavyugtrust.org/software/" class="icon-link"></a>
					</div>
				</div>

				<div class="col-6 col-md-2 mb-4 custom-column">
					<div class="custom-card p-4 h-100">
						<div class="icon_class"><i aria-hidden="true" class="fas fa-briefcase-medical"></i></div>
						   <p class="mb-0">Health Empowerment</p>
						<a href="https://shriramnavyugtrust.org/software/" class="icon-link"></a>
					</div>
				</div>

            </div>
        </div>
    </section>

	<section class="about_txt wow fadeInDown">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 py-4" style="padding: 10px;  color: #333;">
        			<p>Our goals are aligned with our vision of creating an equitable, just, and sustainable society. We focus on areas where we can make the most significant impact, ensuring that our efforts bring about real and lasting change. Here are our key goals across various critical sectors:</p>
					
					<!-- Youth Empowerment -->
        			<h3>Youth Empowerment</h3>
						<p>
						<span>1. Skill Development:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>2. Leadership Programs:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>3. Community Engagement:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p> 
						<p>
						<span>4. Job Placement Assistance:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>4. Job Placement Assistance:	</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>5. Youth Advocacy:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>
			
						<!-- Women Empowerment -->
						
						<h3>Women Empowerment</h3>
						<p>
						<span>1. Skill Development:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>2. Leadership Programs:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>3. Community Engagement:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p> 
						<p>
						<span>4. Job Placement Assistance:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>4. Job Placement Assistance:	</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>5. Youth Advocacy:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>
			
				
						<!-- Environmental Help -->
						
						<h3>Environmental Help</h3>
						<p>
						<span>1. Skill Development:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>2. Leadership Programs:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>3. Community Engagement:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p> 
						<p>
						<span>4. Job Placement Assistance:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>4. Job Placement Assistance:	</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>5. Youth Advocacy:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>
			
					<!-- Education Empowerment -->
					 
						<h3>Education Empowerment</h3>
						<p>
						<span>1. Skill Development:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>2. Leadership Programs:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>3. Community Engagement:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p> 
						<p>
						<span>4. Job Placement Assistance:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>4. Job Placement Assistance:	</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>5. Youth Advocacy:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>
			
					<!-- Health Empowerment -->
					 
						<h3>Health Empowerment </h3>
						<p>
						<span>1. Skill Development:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>2. Leadership Programs:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>3. Community Engagement:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p> 
						<p>
						<span>4. Job Placement Assistance:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>4. Job Placement Assistance:	</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>

						<p>
						<span>5. Youth Advocacy:</span> – SRS  development team provides complete support with best and high quality service to their clients. Our team of creative designers and developers provides the utmost quality work by understanding and satisfying the needs of the customers.</p>
			
		
				</div>
			</div>	
		</div>				
	</section>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const aboutSection = document.querySelector(".custom-row1");

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show"); // add animation class
        observer.unobserve(entry.target); // optional: animate only once
      }
    });
  }, { threshold: 0.3 }); // trigger when 30% visible

  observer.observe(aboutSection);
});

    </script>


</body>
</html>