{% extends "superadmin/base_header.html" %}
{% block title %}Gallery{% endblock %}

{% block content %} 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<div class="pc-container">
    <div class="pc-content">
        <div class="container mt-4">
            <h2>Awards & Achievements</h2>
            <a href="{% url 'award_achievements_add' %}" class="btn btn-primary mb-3">Add New Achievements</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>description</th>
                        <th>Years</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for g in Award_achievements %}
                    <tr>
                        <td>
                            {% if g.award_image %}
                                <img src="{{ g.award_image.url }}" width="100">
                            {% endif %}
                        </td>
                        <td>{{ g.title }}</td>
                         <td>{{ g.description }}</td>
                        <td>{{ g.years }}</td>
                        <td>{{ g.is_active }}</td>
                       
                        <td>
                            <!-- Edit button with pencil icon -->
                            <a href="{% url 'award_achievements_edit' g.id %}" 
                            class="btn btn-warning btn-sm" title="Edit">
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <!-- Delete button with trash icon -->
                            <a href="{% url 'award_achievements_delete' g.id %}" 
                            class="btn btn-danger btn-sm mt-2" 
                            onclick="return confirm('Are you sure you want to delete this image?');"
                            title="Delete">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>

                    </tr>
                    {% empty %}
                    <tr><td colspan="4">No images in gallery.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>    
</div>    
{% endblock %}
